@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{margin: 0; padding: 0; font-family: 'Quicksand', 'sans-serif'; font-weight: bold;}

/*style header*/
#it1951364-header{
    background-color:#4CAF50 ;
    color: #ffffff;
}

/*style forms*/
.it19519364-myForm{
    width: 50%;
    margin: 50px auto;
    border: 1px solid transparent;
    box-shadow: 5px 8px 20px #888888;
    padding: 25px;
    top: 50%;
}

.it19519364-myForm h2{
    text-align: center;
    font-weight: bolder;
}

.it19519364-myForm .it19519364-my-btn{
    display: block;
    margin: 5px auto;
    background-color:#4CAF50 ;
    color: #ffffff;
}

.it19519364-assignForm{
    width: 30%;
    margin: 50px 90px;
    border: 1px solid transparent;
    box-shadow: 5px 8px 20px #888888;
    padding: 25px;
    top: 50%;
    float: left;
}


.it19519364-assignForm .it19519364-my-btn{
    display: block;
    margin: 5px auto;
    background-color:#4CAF50 ;
    color: #ffffff;
}

/*style tables*/
.it19519364-displayTable{
    width: 100%;
    margin: 50px auto;
    border: 1px solid transparent;
    box-shadow: 5px 8px 20px #888888;
    padding: 25px;
    top: 50%;
}

.it19519364-displayTable .it19519364-my-btn{
    display: block;
    margin: 5px auto;
    background-color:#4CAF50;
    color: #ffffff;
}

.it19519364-displayTable tr{
    border: 20px solid white;
    box-shadow: 5px 8px 10px  #888888;
}

.it19519364-displayTable td{
    /* border: 1px solid #d1c8c8; */
    padding: 8px;
    font-weight: normal;
}


/*style display views AND download view*/
.it19519364-display-branch-view{
    width: 80%;
    margin: 50px auto;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 1px #888888; 
    padding: 25px;
    top: 50%;
}


.it19519364-display-view-download{
    width: 70%;
    margin: 50px auto;
    border: 1px solid transparent;
    padding: 25px;
    top: 50%;
}
.it19519364-display-view-download td{
    font-weight: normal;
}
.it19519364-display-view-download .it19519364-my-btn{
    display: block;
    margin: 5px auto;
    background-color:#4CAF50 ;
    color: #ffffff;
}


 .it19519364-view-download{
    width: 70%;
    margin: 25px auto;
    border: 1px solid #888888;
    padding: 10px;
} 
.it19519364-view-download .it19519364-my-btn{
    display: block;
    margin: 5px auto;
    background-color:#4CAF50 ;
    color: #ffffff;
    float: right;
}

.it19519364-my-btn{
    background-color:#4CAF50;
  border-color: none;
  color:white;
  border-radius: 0.2rem;
  margin-left: 10px;
}